@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <img src="https://cdn.pixabay.com/photo/2017/01/11/08/31/icon-1971130_1280.png" class="img-fluid pt-5" style="width: 150px; height: autopx;" />
    <h1 class="display-4 pt-2">AppleStoreTupinikim</h1>
</div>
